@charset "UTF-8";

@media (max-width: 430px){
    .hero-section{
        grid-template-columns: 1fr;
    }
    .hero-section h1{
        grid-column: 1 / -1;
        grid-row: 1;
        font-size: 1.5rem;
        text-align: center;
    }

    .hero-section .grid-2{
        display: none;
    }

    .hero-section .grid-3{
        grid-column: 1 / -1;
        grid-row: 2;
    }
}
