@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5;
}

body{}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 16px;
    margin: 5%;
}

header{
    grid-column: 1 / -1;
    grid-row: 1;
}

main{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}

.hero-section .grid-1{
    grid-column: 1 / 2;
    grid-row: 1;
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
}

.hero-section .grid-2{
    grid-column: 1 / 2;
    grid-row: 2;
}

.hero-section .grid-3{
    grid-column: 2 / -1;
    grid-row: 1 / 3;
}

.hero-section .grid-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-section{
    grid-column: 1 / -1;
}

.item-section>div{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 16px;
}

.item-section article img{
    width: 100%;
    object-fit: cover;
}

footer{
    grid-column: 1 / -1;
}